:root {
    --couleur-fond:#ccd5ff;
    --couleur-livre: #e4e9feda;
    --couleur-ombre: #1d2131;
    --couleur-button-fond: #54f98d;
    --couleur-button-police: #ffffff;
} 



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body {
    height: 100%;
    margin-right: 0.5em;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--couleur-fond);
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0.5em;
    width: 100%;


    background-color: var(--couleur-livre);
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem var(--couleur-ombre);
    border: 0.15rem solid var(--couleur-ombre);


    @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    }        
}



.logo {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    height: auto;
    text-align: left;
    font-size: 0.85em;

    @media (max-width: 768px) {
        max-width: 100%;
        align-items: center;
        font-size: 0.85em;
        text-align: center;
    }
}



img {
    max-width: 100%;

    @media (max-width: 768px) {
        max-width: 40%;
        
    }
}



.navigation {
    @media (max-width: 768px) {
        margin-top: 1em;
    }
}



.navigation>ul {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    list-style: none;

    @media (max-width: 768px) {
        justify-content: space-around;
    }
}



.navigation>ul>li {
    margin: 0em 1em;
}


nav>ul>li>a {
    margin : 1em;
    text-decoration: none;
    padding: 0.5em;


@media (max-width: 600px) {
    front-size: 1em;
}
}



a:hover {
    background-color: var(--couleur-button-fond);
    color: var(--couleur-button-police);
    border-radius: 0.75rem;
}