:root {
    --couleur-fond:#ccd5ff;
    --couleur-livre: #e4e9feda;
    --couleur-ombre: #1d2131;
    --couleur-button-fond: #54f98d;
    --couleur-button-police: #ffffff;
} 



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body {
    height: 100%;
    margin-right: 0.5em;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--couleur-fond);
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0.5em 0.5em 0em 0.25em;
    width: 100%;


    background-color: var(--couleur-livre);
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem var(--couleur-ombre);
    border: 0.15rem solid var(--couleur-ombre);


    @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    }        
}



.logo {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    height: auto;
    text-align: left;
    font-size: 0.85em;

    @media (max-width: 768px) {
        max-width: 100%;
        align-items: center;
        font-size: 0.85em;
        text-align: center;
    }
}



img {
    max-width: 100%;

    @media (max-width: 768px) {
        max-width: 40%;
        
    }
}



.navigation {
    @media (max-width: 768px) {
        max-width: 100%;
        margin-top: 1em;
    }
}



.navigation>ul {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    list-style: none;

    @media (max-width: 768px) {
        justify-content: space-around;
        max-width: 100%;
        margin: 0em 1em 0em 1em;
    }
}



.navigation>ul>li {
    margin: 0em 1em;

    @media (max-width: 600px) {
        margin: 0;
    }
}


nav>ul>li>a {
    margin : 1em;
    text-decoration: none;
    padding: 0.5em;


@media (max-width: 600px) {
    front-size: 1em;
    margin: 0.5em;
}
}



a:hover {
    background-color: var(--couleur-button-fond);
    color: var(--couleur-button-police);
    border-radius: 0.75rem;
}


.restaurant-card {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .photo-plat {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .photo-plat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .restaurant-info {
    flex-grow: 1;
  }
  
  .restaurant-name {
    padding: 10px;
    margin-bottom: 35px;
  }
  
  .restaurant-details {
    list-style-type: none;
    padding: 0;
    
  }
  
  .restaurant-details li {
    margin-bottom: 5px;
    
    
  }
  
  .icon-image {
    width: 20px;
    height: 20px;
    object-fit: contain;
    

  }
  
  .restaurant-contact {
    text-align: right;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
  }
  
  .restaurant-contact p {
    margin: 5px 0;
  }

